
<<<<<<< HEAD
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.mainAppConatiner{
    width: 100%;
    height: 100vh;
    
=======
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
>>>>>>> 036f741af4a678c2db5c2a41b44f6d6552dfee68
}